<ion-header>
  <ion-navbar>
      <ion-item style="background: transparent;">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="text-align: center; margin-top: -22px;">{{'Dashboard' | translate}}</ion-title>

      <img item-end style="color: white;font-size: 1.6em;width:34px;height:20px;" (click)="presentAlert()"
         src="assets/icon/filter-results-button.svg">

      <img item-end style="color: white;font-size:1.6em;width:34px;height:20px;" (click)="showNotifications()"
        src="assets/icon/notification.svg">

     <ion-badge id="notifications-badge" *ngIf="unreadNotifictaions" color="danger">{{notification_count}}</ion-badge>

  </ion-item>
  </ion-navbar>
</ion-header>
 
<ion-content class="no-scroll">

  <div *ngIf="canLogin">


    <div style="padding: 10px;color: white;text-align: center;font-size: 18px;background: #059de8;" >   {{weekStartDayDisp}}   {{'To' | translate}}   {{weekEndDayDisp}}</div>
    <div class="container">

        <div class="contained" [hidden]="showChart === 7">
          <div id="BarChartContainer" class="container"></div>           
        </div>
        <div class="contained" style="text-align: center; margin-top: 40%; color: white !important;" [hidden]="showChart !== 7">
          <span>{{'No Data Found' | translate}}</span>           
        </div>
        <div class="contained">
          <ion-grid class="main_grid">

            <div style="height: 100%;margin: -5px;margin-bottom: 20px;">
              <ion-row>
                <ion-col col-6 class="column">
                    <h3 style="color: #2196F3;">{{totalValue}} <sup style="color: #4a5064;">&#8377;</sup></h3>
                    <span>{{'Available Scan Value' | translate}}</span>
                </ion-col>

                <ion-col col-6 class="column">
                    <h3 style="color: #2196F3;">{{redeemedValue}} <sup style="color: #4a5064;">&#8377;</sup></h3>
                    <span>{{'Total Redeemed Amount' | translate}}</span>
                </ion-col>

                
                <!-- <ion-col col-4 class="column">
                    <h3 style="color: #2196F3;">{{totalValue}}<sup style="color: #4a5064;">&#8377;</sup></h3>
                    <span>AVAILABLE BALANCE</span>
                </ion-col> -->
              </ion-row>

              <!-- <ion-row>
                <ion-col col-4 class="column">
                  <h3 style="color: #4a5064">{{todayPoints}} <sub style="color: #2196F3;">scans</sub></h3>
                  <span>TODAY</span>
                </ion-col>

                <ion-col col-4 class="column">
                  <h3 style="color: #4a5064">{{thisWeekPoints}} <sub style="color: #2196F3;">scans</sub></h3>
                  <span> THIS WEEK</span>
                </ion-col>
                <ion-col col-4 class="column">
                  <h3 style="color: #4a5064">{{thisMonthPoints}} <sub style="color: #2196F3;">scans</sub></h3>
                  <span> THIS MONTH</span>
                </ion-col>    
              </ion-row> -->
            </div>
          </ion-grid>
        </div>
  </div>
</div>

<div style="width : 100%; height : 100% ; background: linear-gradient(to bottom right, #2991d6, #1970a8) !important;">
  <div style="color: white; text-align: center; font-size: 30px; position: absolute; margin-top: 60%;">
    Please contact Finolex sales team to complete registration
  </div>
  </div>
 </ion-content>