page-forceupdate {

.popup_header {
        width: 85%;
    height: 180px;
    background-color: #488aff;
    position: absolute;
    top: 0;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
}
