<ion-header>
	<ion-navbar>
	    <button icon-only ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    <ion-title style="font-size: 13px;">{{'Profile' | translate}}</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>

	<div *ngIf="canLogin">


<ion-row style="margin-bottom: 20px;">
			<ion-col text-center>
				<img class="profile-picture" src="{{image}}"
				onerror="this.src='assets/imgs/Dashboard_bg.';">
				<ion-button class="button-update update_img" (click)="presentActionSheet()">
				  <ion-icon name="camera"></ion-icon>
				</ion-button>
			</ion-col>		
		</ion-row>

		<!-- <ion-row>
			<ion-col style="text-align: center; font-size: 16px; font-weight: bold; margin-top: -15px;">
				<span>{{name}}</span>
			</ion-col>
		</ion-row> -->

			<ion-list radio-group style="margin:0px!important" placeholder="Language">
	          	<ion-label >{{'Select Language' | translate}}</ion-label>
	          	<ion-row>
			      	<ion-col>
			      		<ion-item>
			        		<ion-label>{{'English' | translate}}</ion-label>
			        		<ion-radio [checked]="isEnglish" value="English" (ionSelect)="selectLanguage('English')"></ion-radio>
			      		</ion-item>
			      	</ion-col>
			      	<ion-col>
			      		<ion-item>
			        		<ion-label>{{'Hindi' | translate}}</ion-label>
			        		<ion-radio [checked]="isHindi" value="Hindi" (ionSelect)="selectLanguage('Hindi')"></ion-radio>
			      		</ion-item>
			      	</ion-col>
			    </ion-row>
		    </ion-list>

	<form [formGroup]="profile_page">		
		<ion-row class="heading">{{'General Info' | translate}}
			<ion-button *ngIf="isEditable" style="margin-left:56%" (click)="edit()">
				<span *ngIf=" isReadonly == true">
					<ion-icon name="create"></ion-icon>
				</span>
			</ion-button>			
		</ion-row>
		<ion-list no-border>
			<ion-item no-lines>
				<ion-label stacked>{{'Name' | translate}}</ion-label>
				<ion-input type="text" formControlName="name" [disabled]="true" placeholder="name" readonly="{{isReadonly}}"></ion-input>
			</ion-item>
			<ion-item no-lines>
				<ion-label stacked [disabled]="true">{{'Reward Type' | translate}}</ion-label>
			</ion-item>
			<ion-item>
			    <span disabled>{{reward_type}}</span>
			</ion-item>
		</ion-list>
		<ion-row>
		 <ion-list no-border radio-group style="margin-left: 15px !important;" formControlName="gender" placeholder="gender" >
				<ion-item no-lines>
	          	<ion-label [disabled]="true">{{'Gender' | translate}}</ion-label>
	          </ion-item>
	          	<ion-row>
			      	<ion-col>
			      		<ion-item no-lines>
			        		<ion-label>{{'Male' | translate}}</ion-label>
			        		<ion-radio [disabled]="true" checked="true" value="m" value="Male"></ion-radio>
			      		</ion-item>
			      	</ion-col>
			      	<ion-col>
			      		<ion-item no-lines>
			        		<ion-label>{{'Female' | translate}}</ion-label>
			        		<ion-radio value="f" [disabled]="true"></ion-radio>
			      		</ion-item>
			      	</ion-col>
			    </ion-row>
		    </ion-list>
		</ion-row>
		<ion-list>
			<ion-item no-lines>
				<ion-label stacked>{{'Date Of Birth' | translate}}</ion-label>
				<ion-datetime displayFormat="DD-MM-YYYY" formControlName="date_of_birth" placeholder="yyyy-mm-dd" readonly="{{isReadonly}}"  max="2050-10-31" [disabled]="true">
				</ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label stacked>{{'Address' | translate}}</ion-label>
				<ion-input type="text" formControlName="address" placeholder="{{'Address' | translate}}" readonly="{{isReadonly}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" formControlName="city" [class.invalid]="!profile_page.controls.city.valid && !profile_page.controls.city.dirty" placeholder="{{'city' | translate}}" readonly="{{isReadonly}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" formControlName="state" [class.invalid]="!profile_page.controls.state.valid && !profile_page.controls.state.dirty" placeholder="{{'state' | translate}}" readonly="{{isReadonly}}"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="tel" formControlName="pincode" maxLength='6' minLenght='6' [class.invalid]="!profile_page.controls.pincode.valid && !profile_page.controls.pincode.dirty" placeholder="{{'pincode' | translate}}" readonly="{{isReadonly}}" (input)="validPincode($event.target.value)"></ion-input>
			</ion-item>
			<p style="color: red; margin: 5px;" *ngIf="!isValidPinode">{{'Pincode Must Contain 6 Digits' | translate}}</p>
			<ion-item *ngIf="isReadonly == false">
				<button ion-button color="primary" (click)="editProfile()" full>{{'Submit' | translate}}</button>
			</ion-item>
		</ion-list>
	</form>

</div>

<div  *ngIf="!canLogin" style="width : 100%; height : 100% ; background: linear-gradient(to bottom right, #2991d6, #1970a8) !important;">
  <div style="color: white; text-align: center; font-size: 30px; position: absolute; margin-top: 60%;">
    Please contact Finolex sales team to complete registration
  </div>
  </div>
</ion-content>