page-profile {
	ion-label{
		padding-left: 0px !important;
	}
	.list-md {
	    margin: -1px 0 0px !important;
	}
	.list-ios {
	    margin: -1px 0 0px !important;
	}
		.heading{
			background-color: #dcd9d9;
	    	padding-top: 4%;
	        padding-bottom: 4%;
	    	padding-left: 4%;
		}
		.profile-picture {
		   	display: block;
			margin-left: auto;
			margin-right: auto;
			width: 30%;
			height : 90px;
		}
		ion-img{
			background:#fff;
		}
		ion-img.img-loaded img {
		    display: block;
		    height: 100%;
		}
		.button-update{
			padding-left: 43%;
		}
		input:focus, select:focus, textarea:focus {
	        outline: 0;
	        border-color: #ffffff;
	        background-color: #ffffff;
	        box-shadow: 0 0 2px #ffffff;
    	}
    	.label-md[stacked] {
		    font-size: 1.6rem;
		    padding-bottom: 10px;
		}
		page-profile ion-img.img-loaded img {
		    display: block;
		    height: 100%;
		    border-radius: 50%;
		}
		.update_img{
		 	padding:0px!important;
    		position: relative;
		}
		img {
		    display: block;
		    height: 85%;
		    border-radius: 50%;
		    padding: 10px;
		}

		.input-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    text-overflow: ellipsis;
}

}
