<ion-header>

  <ion-navbar>
    <ion-title>{{'Date Filter' | translate}}</ion-title>
     <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

<!-- {{product}}presentAlert
<ion-card>
	<img src={{product.product_url}} style="height: 100px;">
		<ion-card-content>
    <p>
    	{{product.product_name}}
    </p>
  </ion-card-content>
</ion-card> -->

<ion-item>
  <ion-label floating>{{'From Date' | translate}}</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" min="2010" [max]="today" [(ngModel)]="fromdate">
    </ion-datetime>
</ion-item>

<ion-item *ngIf="datecheck">
  <ion-label floating>{{'To Date' | translate}}</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" [max]="fromdate" min="2010" [(ngModel)]="todate">
  </ion-datetime>
</ion-item>
  <button ion-button round secondary (click)="submit()">{{'Search' | translate}}</button>
</ion-content>
