<ion-header>
  <ion-navbar>
      <button icon-only ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="font-size: 13px;">{{'Reward History' | translate}}</ion-title>
      <!-- <ion-buttons end> -->
        <img style="color: white;font-size: 1.6em;width:34px;height:20px;float: right;" (click)="presentAlert()"
         src="assets/icon/filter-results-button.svg">
    <!-- </ion-buttons> -->
    </ion-navbar>
</ion-header>



<ion-content >

    <ion-grid>
      <ion-row style="background: #dcd9d9;font-size: 16px;font-weight: bold;">
          <ion-col col-4 >{{'Amount(INR)' | translate}}</ion-col>
          <ion-col col-4>{{'Reward Type' | translate}}</ion-col>
          <ion-col col-4>{{'Redeem Date' | translate}}</ion-col>
        </ion-row>
    </ion-grid>
  <ion-grid >
    
    <ion-row *ngFor="let d of dataSet" class="st" style="font-size: 16px;padding: 5px">
      <ion-col col-4>{{d.amount}}</ion-col>
      <ion-col col-4>{{d.reward_type}}</ion-col>
      <ion-col  col-4 displayFormat="MM/DD/YY">
      	{{d.reward_date  | date:'yyyy-MM-dd'}}

      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-list>

  </ion-list>
</ion-content>

