<ion-header>
  <ion-navbar>
      <button icon-only ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="font-size: 13px;">{{'Scan Code' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
  <ion-item>

    <ion-label stacked style="color:black;margin-bottom: 15px;">{{'Scratch & Enter digit Coupon Code:' | translate}}</ion-label>

     <ion-input *ngIf="isScannedInput == true" readonly="true" type="text" placeholder="{{'code' | translate}}" name="scanned_code" [(ngModel)]="redeemcode"></ion-input>

     <ion-input *ngIf="isScannedInput == false" type="text" placeholder="{{'code' | translate}}" name="scanned_code" [(ngModel)]="redeemcode" (keyup)="addCode()"></ion-input>

  </ion-item>
  <ion-item class="QrCodeScan">
  	<button (click)="scan()" style="width:100%;height:108%">
  		<ion-icon class="scan_class" name="qr-scanner"></ion-icon>
  	</button>
    <p class="messege">{{'Click here to scan' | translate}}</p>
    <ion-badge class="QrCodeBadge">{{i}}</ion-badge>
  </ion-item>
  <ion-item  style="top:17%">
    <button  ion-button color="primary" (click)="submitCode()"  [disabled]=!isScanned full>{{'Submit' | translate}}</button>
  </ion-item>
</ion-content>