
<ion-header>
    <div class="login_container">
        <img src="assets/images/Login_bg.png">
        <div class="centered">
            <h1 style="font-size: 19px;font-weight: bold;">{{'Finolex Cables Ltd' | translate}}</h1>
            <span>{{'Experience your brand!' | translate}}</span>
        </div>
    </div>
</ion-header>
<ion-content>
    <ion-toolbar color="white" style="">
    <ion-segment [(ngModel)]="segment">
          <ion-segment-button  value="LogIn">{{'LogIn' | translate}}</ion-segment-button>
          <ion-segment-button value="Register">
          {{'Register' | translate}}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

    <div *ngIf="segment == 'LogIn'">
        <div class="flex" style="flex-direction: column; padding: 0px 20px; justify-content: space-evenly ;">

        <form [formGroup]="form">
            <!-- <ion-item style="margin-bottom: 50px;">
                <ion-label  stacked style="margin-bottom: 5px; padding-left: 15px;color: black;">Select Role<span style="color: red;"> *</span></ion-label>
                <ion-select placeholder="role" formControlName="role" 
                [class.invalid]="!form.controls.role.valid && !form.controls.role.dirty"
               interface="popover">
                    <ion-option value="dealer">Dealer</ion-option>
                    <ion-option value="electrician">Electrician</ion-option>
                </ion-select>                
            </ion-item> -->
                
            <ion-item>
                <ion-input type="tel" class="custom_input" maxlength="10"  formControlName="mobile_no" placeholder="{{'Mobile Number' | translate}}" maxlength="10"
                [class.invalid]="!form.controls.mobile_no.valid && !form.controls.mobile_no.dirty" >                
                </ion-input>
            </ion-item>
            
            <ion-item>
                <ion-input class="custom_input" type="password" formControlName="password" placeholder="{{'Password' | translate}}"
                    [class.invalid]="!form.controls.password.valid && !form.controls.password.dirty" >                
                </ion-input>
            </ion-item>
          
            <button type="submit" class="submit_button" ion-button color="primary"(click)="signinSubmit()" [disabled]="!form.valid"  full>{{'Sign In' | translate}}</button>        
            <button class="forget_button" (click)="verifyNumber()">{{'Forgot Password?' | translate}}</button>
            <!-- <button class="forget_button" (click)="verifyNumber()">Already Registered With Finolex?</button> -->
        </form>
        </div>
    </div>

    <div *ngIf="segment == 'Register'">
        <div class="flex" style="flex-direction: column; padding: 0px 20px; justify-content: space-evenly ;">
        <form [formGroup]="register_form">
            <ion-item style="margin-bottom: 50px;">
                <ion-label stacked style="margin-bottom: 5px; padding-left: 15px;color: black;">{{'Select Role' | translate}}<span style="color: red;"> *</span></ion-label>
                <ion-select formControlName="role" placeholder="{{'role' | translate}}"
                [class.invalid]="!register_form.controls.role.valid && !register_form.controls.role.dirty" interface="popover" (ionChange)="checkRole(register_form.controls.role)">
                    <ion-option value="dealer" selected>{{'Dealer' | translate}}</ion-option>
                    <ion-option value="electrician">{{'Electrician' | translate}}</ion-option>
                </ion-select>                
            </ion-item>
            <ion-item>
            <ion-input class="custom_input" type="text" formControlName="email_id" #Comment placeholder="{{'Email Id' | translate}}">                

                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="tel" class="custom_input" maxlength="10" formControlName="mobile_no" placeholder="{{'Mobile Number' | translate}}" maxlength="10"
                [class.invalid]="!register_form.controls.mobile_no.valid && !register_form.controls.mobile_no.dirty" >                
                </ion-input>
            </ion-item>
            
            <ion-item>
                <ion-input class="custom_input" type="password" formControlName="password" placeholder="{{'Password' | translate}}"
                    [class.invalid]="!register_form.controls.password.valid && !register_form.controls.password.dirty" >                
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input class="custom_input" type="password" formControlName="confirm_password" placeholder="{{'Confirm Password' | translate}}"
                    [class.invalid]="!register_form.controls.confirm_password.valid && !register_form.controls.confirm_password.dirty"
                    (keyup)="validatePassword()" >               
                </ion-input>
            </ion-item>

          <p style="color:red" *ngIf="mismatchedPasswords">{{'Password Mismatch' | translate}}</p>

<!-- <button ion-button clear icon-right end item-right (click)="uploadImage()">Click Here To Upload Cheque
            <ion-icon name="camera"></ion-icon>
          </button> -->

        <div *ngIf="isDealer">
          <button ion-button clear icon-right end item-right (click)="openCamera()" >{{'Upload Cancelled Cheque/Gst' | translate}}
            <ion-icon name="camera">
                <span style="color: red;"> *</span>
            </ion-icon>
          </button>
          <img class="profile-picture" src={{image}} [hidden]="!checkStatus" >
            </div>

            <button type="submit" class="submit_button" ion-button color="primary"(click)="signup()" [disabled]="!register_form.valid ||  (register_form.controls['confirm_password'].value != register_form.controls['password'].value)"  full>{{'Register' | translate}}</button>        
        </form>
        </div>
    </div>
</ion-content>