page-notifications {

.card-content-md {
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: white;
}
.card-md p {
    margin: 0 0 2px;
    font-size: 18px;
    font-weight: bold ! important;
    color: white;
    font-size: 12px ! important; 
    text-align: center;
    background: transparent;
}
ion-card img {
    display: block;
    width: 100%;
    text-align: center;
}
.item-md.item-block .item-inner {
    padding-right: 0px;
     border-bottom: 0px solid #dedede; 
}
.item-md {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-md {
    margin: 0px;
}
.label-header{
padding: 10px;
margin-bottom: 0px;
text-align: center;
font-weight: bold;
background: lightgrey;
font-size: 14px;
}

.notify_user{
    background: blue;
}
}
