
<ion-header>

  <ion-navbar>
    <ion-title>ELECTRICAL WIRES & CABLES</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="margin-top: 100px;">

<ion-grid>

<ion-row>
	<ion-col >
		<ion-card>
	<div class="box">
		<img src="assets/images/Login_bg.png" style="width: 60%;" padding />
		 <div style="div-price-name">
		 <h6 class="span-price"> 
		 	RS.{{data.price}}/-
		 </h6><br>
		 	<h6 class="span-name">
		 	{{data.name}}
		 </h6>
		</div>
		</div> 
	</ion-card>
  </ion-col>
</ion-row>
 <ion-row>
 	<ion-col style="height: 50%;">
 		<ion-card>
 			<h6 class="h6-feature" > Feature </h6><br>
 			<p class="p-desc"> {{data.description}}</p>

 		</ion-card>
 	</ion-col>
 	</ion-row>
 </ion-grid>
</ion-content>
<ion-footer>
 	<div style="text-align: center;background: white;padding : 10px; ">
 		<ion-icon name="home" class="footer-img">
 		</ion-icon>
 		<ion-icon name="home" class="footer-img">
 		</ion-icon>
 		<ion-icon name="home" class="footer-img" >
 		</ion-icon>
 		
 	</div>
 </ion-footer>
