page-shownotification {

ion-card img {
    display: block;
    width: 100%;
    height: 200px;
}
.card-md {
     margin: 10px 0px 10px 0px; 
    border-radius: 2px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    }
    .grid{
    	padding: 0px;
    }
    .p-desc{
    	width: 100%;
    margin: 0 0 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14sspx;
    font-weight: normal;
    line-height: 1.5;
    color: black;
    text-align: start;
    background-color: lightgray;
    }
}
